extends layout

block content
  h1= title
  p Welcome to #[em Bookshelf], a very basic website that allows people to share their libraries with their pals! Add your favorite reads, and let your friends know that you have a copy to lend!

  p Tip: If the author of your book isn't on our list yet, you have to start there to add a book to our Bookshelf!

  h2 What's on the Shelf

  if error
    p Error getting dynamic content.
  else
    p Bookshelf has the following record counts:

    ul
      li #[strong Books:] !{data.book_count}
      li #[strong Copies:] !{data.book_instance_count}
      li #[strong Copies available:] !{data.book_instance_available_count}
      li #[strong Authors:] !{data.author_count}
      li #[strong Genres:] !{data.genre_count}